@model EasyPTC.Models.AboutPageModel

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Mark</th>
    </tr>

</table>

<p>Use this area to provide additional information.</p>
